body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;     /* Altura mínima 100% de la ventana */
}
main {
  flex: 1;   
  margin: 10px;            /* El área principal llena el espacio disponible */
}



/*-----------------------------------------------------BalanceTotal (Billetera)---------------------------------*/ 
.balanceTotal{
    display: flex;
    gap: 600px;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin: 70px;
}

.btnCambiarMoneda, .btnRegistrarGastos{
    
    padding: 20px;
    font-size: 15px;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    border: solid 2px #6e6d6d;
    color: #6e6d6d;
    transition: all ease 0.3s;
}

.btnCambiarMoneda:hover, .btnRegistrarGastos:hover{
    background-color: #98a089;
    padding: 18px;
    color: white;
    transition: 0.3s;
}
/*-----------------------------------------------------Movimientos (Billetera)---------------------------------*/ 
.Movimientos{
    display: flex;
    flex-direction: column;
    margin: 70px;
    margin-top: 100px;
}

table {
  border-collapse: collapse; /* Elimina espacios entre celdas */
  width: 100%;
  color: #485935;
  font-size: 18px;
  text-align: left;
  border-radius: 5px solid #ddd;
  border: solid 2px #ddd;
  margin: 20px;

  
}

.titulos th{
    background-color: #93A267;
    color: white;
}

table tr:nth-child(even) { /* even = par  */
  background-color: #ffffff; /* color para filas pares */
}

table tr:nth-child(odd) { /* odd = impar  */
  background-color: #93A267; /* color para filas impares */
}

th, td {
  padding: 20px; /* Espacio interno en celdas */
}

table td:nth-child(3) {
    color: #D27A7A;
}

