header {
    position: relative;
    background-color: #00110B;
}

.mainConvertidor{
    display: flex;
    height: 80vh;
    padding: 40px;
    align-items: center;
    flex-direction: column;
}

form{
    background-color: white;
    width: 30%;
    height: 40vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 10px;
    gap: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bi-arrow-down-up{
    background-color: #9fe870;
    padding: 10px;
    display: flex;
    font-size: 20px;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.contMoneda1, .contMoneda2{
    width: 80%;
}

#monto, #result{
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 10px;
    outline: none;
}


select{
    padding: 10px;
    border: none;
    border-radius: 10px;
}

select:focus-within{
    outline: none;
}

.contMoneda1 div, .contMoneda2 div{
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    outline: gray solid 1px;
    transition: all 0.1s ease;
}

.contMoneda1 div:focus-within, .contMoneda2 div:focus-within{
    outline: 2px solid black;
}