/*-----------------------------------------------------Configuracion General---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1{color: #F7F6F3;}

/*-----------------------------------------------------Header---------------------------------*/
header{
    height: auto;
    background-color: #778470;
}
.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    background-color: #778470;
}

.contLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.logo{
    width: 100px;
    object-fit: cover;
    height: auto;
}

.buscadorYRedes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 60%;
}

.buscador{
    background-color: white;
    width: 30%;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.buscador input{
    border: none;
    padding: 8px;
    width: 200px;
    outline: none;
}

.redes{
    display: flex;
    align-items: center;
    gap: 60px;
    width: 25%;
}

.redes a{
    color: white;
    font-size: 24px;
    transition: 0.3s;
}

.navHome{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.navHome a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}
/*-----------------------------------------------------Main (Home)---------------------------------*/

.fondo{
    height: 100vh;
    background-image: url("../Assets/HomeNueva.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
    font-size: larger;
}

.btnConvertidor{
    background-color:#334934;
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.btnConvertidor:hover{
    background: #778470;
    transition: translateY(-2px);
}

/*--------Noticias-----------*/
.contenedor-cartas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto; 
}

.Carta{
    background: #334934;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15); 
    transition: 0.3s ease;
}
.Carta img{
    width: 100%;
    height:220px ;
    object-fit: cover;
}
.Contenido{
    padding: 20px;
    text-align: center;
    color: white;
}
.btnCarta{
    display: inline-block;
    padding: 10px 25px;
    background: #8b5a39;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
    transition: 0.3s;
}
.btnCarta:hover {
    background: #a56a47;
}
/*--------Video-----------*/
.Carta.Video{
    width: 400px;
}
.Cuadro.video{
    width: 100%;
    height:220px;
    overflow: hidden;
    background: #000;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}
/*--------Para el iframe-----------*/
.Cuadro.video iframe{
    width: 100%;
    height: 100%;
    border: none;
}
#h2abajo,#h1abajo {
    color: #334934;
    text-align: center;
}

/*-----------------------------------------------------Footer---------------------------------*/
footer{
    background-color:#d5ddc6;
    height: 20vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img{
    width: 120px;
    margin-bottom: 10px;
}
.copy{
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.7;
}