/*-----------------------------------------------------Configuracion General---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1{color: #F7F6F3;}
p{color: #98a089 ;}

/*-----------------------------------------------------Header---------------------------------*/

.navHome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    height: 20vh;   
}

.navHome div button{
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: none;
}

.navHome div button:hover{
    background-color: #98a089;
    transition: 0.3s;
}

.navHome button{
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: none;
    transition: all ease 0.3s;
}

.navHome button:hover{
    background-color: #98a089;
    padding: 11px;
    transition: 0.3s;
}

.bi-person{
    font-size: 16px;
}

/*-----------------------------------------------------Main (Home)---------------------------------*/

.mainHome{
    display: flex;
    align-items: center;
    height: 88vh;
    padding: 80px;
}

.sectionHome{
    display: flex;
    justify-content: space-around;
    background-color: #4F614B;
    padding: 30px;
    gap: 40px;
    border-radius: 15px;
}

.sectionSide{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.imgHome{
    height: 300px;
    border-radius:10px ;
}

#convertidor{
    width: 20%;
    padding: 15px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid #F7F6F3;
    transition: all ease 0.3s;
}

#convertidor:hover{
    background-color: #98a089;
    color: #4F614B;
    width: 21%;
    transition: 0.3s;
}

/*--------Animacion------------*/
.typing {
  white-space: nowrap;           
  overflow: hidden;   
  font-size: 36px;           
  border-right: 2px solid rgb(255, 255, 255); 
  font-family: monospace;
  animation: typing 8s steps(33) infinite, blink 0.5s step-end infinite alternate;
}

/* animacion de escritura y reincio */
@keyframes typing {
  0%, 10% { width: 0; }      
  50%, 60% { width: 33ch; }  /* todo el texto visible */
  100% { width: 0; }          /* vuelve a vacío */
}

/* animacion del parpadeo*/
@keyframes blink {
  50% { border-color: transparent; }
}


/*-----------------------------------------------------Footer---------------------------------*/
footer{
    background-color:#d5ddc6;
    height: 20vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialMedias{
    display: flex;
    gap: 20px;
    font-size: 20px;
}