/*-----------------------------------------------------Configuracion General---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {font-family: "Kaio";src: url("../Fonts/KaioTRIAL-Regular-BF65f24de206d9d.otf") format("opentype");font-weight: 400;}
@font-face {font-family: "Kaio";src: url("../Fonts/KaioTRIAL-Medium-BF65f24de1b8279.otf") format("opentype");font-weight: 500;}
@font-face {font-family: "Kaio";src: url("../Fonts/KaioTRIAL-Bold-BF65f24de19552f.otf") format("opentype");font-weight: 700;}
@font-face {font-family: "Kaio";src: url("../Fonts/KaioTRIAL-Black-BF65f24de1e055e.otf") format("opentype");font-weight: 800;}
@font-face {font-family: "Kaio";src: url("../Fonts/KaioTRIAL-Super-BF65f24de1c22c2.otf") format("opentype");font-weight: 900;}

*{margin: 0;padding: 0;box-sizing: border-box;  }

h1 {font-family: "Kaio", sans-serif;font-weight: 800;}
h2 {font-family: "Kaio", sans-serif;font-weight: 700;}
h3 {font-family: "Kaio", sans-serif;font-weight: 700;}
p,a {font-family: "Kaio", sans-serif;}
button{font-family: "Kaio", sans-serif;}
h1{color: #F7F6F3;}

/*-----------------------------------------------------Header---------------------------------*/
header{
    height: auto;
    background-color: #778470;
}
.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    background-color: #778470;
}

.contLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.logo{
    width: 100px;
    object-fit: cover;
    height: auto;
}

.buscadorYRedes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 60%;
}

.buscador{
    background-color: white;
    width: 40%;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.buscador input{
    border: none;
    padding: 8px;
    width: 200px;
    outline: none;
}

.redes{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 25%;
}

.redes a{
    color: white;
    font-size: 24px;
    transition: 0.3s;
}

.navHome{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.navHome a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}
/*-----------------------------------------------------Main (Home)---------------------------------*/

.fondo{
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../Assets/HomeNueva.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
    font-size: larger;
}

.typing {
  white-space: nowrap;           
  overflow: hidden;              
  border-right: 2px solid rgb(255, 255, 255); 
  font-size: 24px;
  animation: typing 24s steps(24) infinite, blink 0.5s step-end infinite alternate;
}

/* Animación de escritura y borrado */
@keyframes typing {
  0% { width: 0; }             /* empieza vacío */
  10% { width: 24ch; }         /* escribe todo el texto rápido */
  80% { width: 24ch; }         /* mantiene visible el texto por mucho tiempo */
  100% { width: 0; }            /* borra al final, justo antes de reiniciar */
}

/* Animación del parpadeo */
@keyframes blink {
  50% { border-color: transparent; }
}


.btnConvertidor {
    background-color: transparent;
    backdrop-filter: blur(10px);
    width: 10%;
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 14px;
    height: 8%;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: tiltPulse 3s infinite;
}

.btnConvertidor:hover{ 
    background-color: white;
    color: black;
    transition: 0.3s;
}

/* Animación de rebote vertical */
@keyframes tiltPulse {
  0%, 80%, 100% { transform: rotate(0deg) scale(1); }
  82% { transform: rotate(5deg) scale(1.05); }
  84% { transform: rotate(-5deg) scale(0.95); }
  86% { transform: rotate(3deg) scale(1.02); }
  88% { transform: rotate(-3deg) scale(0.98); }
}


/*--------Noticias-----------*/
.contenedor-cartas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto; 
}

.Carta{
    background: #334934;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15); 
    transition: 0.3s ease;
}
.Carta img{
    width: 100%;
    height:220px ;
    object-fit: cover;
}
.Contenido{
    padding: 20px;
    text-align: center;
    color: white;
}
.btnCarta{
    display: inline-block;
    padding: 10px 25px;
    background: #8b5a39;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
    transition: 0.3s;
}
.btnCarta:hover {
    background: #a56a47;
}
/*--------Video-----------*/
.Carta.Video{
    width: 400px;
}
.Cuadro.video{
    width: 100%;
    height:220px;
    overflow: hidden;
    background: #000;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}
/*--------Para el iframe-----------*/
.Cuadro.video iframe{
    width: 100%;
    height: 100%;
    border: none;
}
#h2abajo,#h1abajo {
    color: #334934;
    text-align: center;
}

/*-----------------------------------------------------Footer---------------------------------*/
footer{
    background-color:#d5ddc6;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    width: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}
.copy{
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.7;
}
.informacionFooter{
    display: flex;
    padding: 25px;
    justify-content: space-around;
    width: 100%;
}

.servicios, .moneyExchange, .informacion{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
    justify-content: center;
}

.servicios p, .moneyExchange p, .informacion p{
    margin-top: 10px;
}

.servicios p:hover, .moneyExchange p:hover, .informacion p:hover{
    text-decoration: underline;
    transition: 0.3s;
}

.logoFooter{
    margin-top: 25px;
    padding: 20px;
}

.footerUnder{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.inputSuscribe{
    width: 60%;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btnSus{
    background-color: red;
    backdrop-filter: blur(10px);
    width: 30%;
    margin-top: 20px;
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 14px;
    height: 5%;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btnSus:hover{ 
    transform: scale(1.03); 
    box-shadow: 0 8px 20px rgba(0,0,0,0.35), 0 0 15px rgba(255,255,255,0.2); 
    border-color: #ffffffaa; 
    color: #ffffff;
}
