
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {font-family: "Kaio";src: url("../Fonts/KaioTRIAL-Bold-BF65f24de19552f.otf") format("opentype");font-weight: 400;}
h1, h2 {font-family: "Kaio", sans-serif;}
p,a ,label,input,button,span{font-family: "Kaio", sans-serif;}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url(../Assets/backgroundlogin.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contenedor {
    width: 60%;
    height: 80%;
    border-radius: 20px;
    position: relative;
    background: white;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#Close{
    background-color: transparent;
    color: white;
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 9999;
    border: none;
    font-size: 36px;   /* por encima del círculo */
}

#Close:hover{
  cursor: pointer;
  color: red;
}

/* ---------------Circulo------------------- */

.circulo {
    position: absolute;
    left: -70px;           /* Mueve el círculo hacia la izquierda */
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 70vh;
    height: 80.5vh;
    border-radius: 20px;
    background-image: url(../Assets/fondoLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: 0.7s ease;          /* Debajo del formulario */
}



/* círculo a la derecha cuando se crea cuenta */
.movDerecho .circulo {
    left: 50%;   /* si quieres más hacia adentro, baja a 70% o 65% */
}

/* ----------------- Paneles ------------- */

.izquierdo,
.derecho {
    position: absolute;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    transition: 0.7s ease;
}
 
.izquierdo {
    left: 0;
    padding-left: 80px;
}

.derecho {
    right: 0;
    padding-right: 80px;
    text-align: right;
    align-items: flex-end;
    opacity: 0; /* oculto al inicio */
}

.izquierdo h1,
.derecho h1 {
    font-size: 40px;
    color: white;
}

.derecho p {
    color: white;
    max-width: 260px;
    margin-top: 10px;
}

.izquierdo .btn-outline,
.derecho .btn-outline {
    margin-top: 20px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.btn-outline:hover{
    background-color: white;
    color: #2c3e2e;
    transition: 0.3s;
}



/* Al pasar a crear cuenta: se esconde el panel izquierdo y aparece el derecho */
.movDerecho .izquierdo {
    opacity: 0;
}

.movDerecho .derecho {
    opacity: 1;
}

/* ----------------- FORMULARIOS--------------*/

.formCont {
    position: absolute;
    width: 32%;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.7s ease;
    z-index: 3;
}

.title {
    color: #4b5e3c;
    font-size: 28px;
}

.subtitle {
    font-size: 12px;
    color: #8b9c87;
    margin-bottom: 20px;
    display: block;
}

label {
    font-size: 12px;
    color: #444;
}

input {
    width: 100%;
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 15px;
    color: #2c3e2e;
    border: 2px solid white;
    background: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.btn {
    width: 130px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #4b5e3c;
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #2c3e2e;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover{
    background-color: white;
    color: #2c3e2e;
    transition: 0.3s;
}

/* ------ POSICION EN MODO LOGIN ------ */

/* Login a la derecha */
#loginForm {
    right: 10%;
    opacity: 1;
}

/* Registro ya colocado a la izquierda pero oculto */
#registerForm {
    left: 10%;
    opacity: 0;
    pointer-events: none;
}

/* ------ POSICION EN MODO CREAR CUENTA ------ */

/* Login se desvanece */
.movDerecho #loginForm {
    opacity: 0;
    pointer-events: none;
}

/* Registro aparece a la izquierda */
.movDerecho #registerForm {
    opacity: 1;
    pointer-events: auto;
}

