h1{
    color: #4F614B;
}
header {
    position: relative;
    background-color: #00110B;
}

/* Seccion de Nosotros*/
section{
    height: 80%;
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

#Carta{
    display: flex;
    align-items: center;
    background-color: #7a7a7a;
    border-radius: 15px;
    overflow: hidden;
    width: 80%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
#imagen_contacto img{
    width: 150px;
    height: 150%;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    border: 4px solid #93BB3E;
}
#Contenido{
    padding: 30px;
    text-align: left;
    flex: 1
}

#Contenido h2{
    color: #31511F;
    margin-bottom: 10px;
}

#Contenido p{
    font-size: 16px;
    line-height: 1.5;
}
