/*Configuracion general*/

@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Reset para todos los elementos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*el padding y el borde se incluye en el ancho y alto toal del elemento*/
    font-family: "Monserrat", sans-serif; /*Establece la fuente principal*/
}

body{
    min-height: 100vh; /* Hace que el cuerpo ocupe */
    display: flex;
    flex-direction: column;
}

h1{color: #F7F6F3;}
p{color: #98a089;}

/*Navegacion*/

header{
    position: relative;
     background-color:#011d10d7;
}

/*Clase navHome (Contenedro principal)*/

.navHome{
    display: flex;
    justify-content: space-between; /*coloca los elemntos hijos en el eje principal y colocanco un espacio entre ellos*/
    align-items: center;
    padding: 0 40px;
    height: 80px;
    max-width: 1200px; /*Anchro para centrear el contenido*/
    margin: 0 auto; /*centra el contenedor en la pagina*/
}

/*Estilo para los botones de la izquierda*/

.navHome div button{
    padding: 10px 12px;
    font-size: 16px;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: none;
    color: #444;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    display: inline-flex; /* ahbilita el flexbox para alinear el icono y el texto*/
    align-items: center;
    gap: 5px; /*espacio entre icono y texto*/
}

.navHome div button:hover{
    background-color: #98a089;
    color: white;
}

/*Estilo para el logo central*/

.navHome p{
    font-size: 20px;
    color: #9aaec2;
    flex-grow: 1; /* Hace que ocupe el espacio disponible y empueja los botones para los lados*/
    text-align: center;
}

/*Main*/
main{
    display: flex;
    gap: 40px;
    padding: 40px;
    background: white;
    min-height: 100vh;
    font-family: 'popins', sans-serif;
}
.Cuadro-Izquierda{
    width: 260px;
    background: white;
    padding: 30px 20px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.07);
}
.perfil{
    text-align: center;
    margin-bottom: 25px;
}
.perfil img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
}
.perfil h2{
    margin-top: 10px;
    font-size:18px;
    font-weight: 600;
}
.Menu-opciones{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
.Menu-opciones .item{
    padding: 12px 15px ;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: black;
    font-weight: 500;
    transition: 0.2s;
}
.Menu-opciones .item:hover{
    background: #9aaec2;
}
.Menu-opciones .Activo{
    background: #9aaec2;
    color: white;
    font-weight: 600;
}
.Menu-opciones i{
    font-size: 18px;
}
.Cuadro-Derecha {
    flex:1;
    background: white;
    padding: 35px 40px;
    border-radius: 25px;
    box-shadow:0 4px 25px rgba(0,0,0,0.07);
}
.Cuadro-Derecha h2{
    font-size: 22px;
    font-weight: 660;
    margin-bottom: 25px;
}
.formulario{
    display: flex;
    grid-template-columns:repeat(2, 1fr);
    gap: 25px; 
}
.formularitos{
    display: flex;
    flex-direction: column;
}
.formularitos label{
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
}
.formularitos input {
    padding: 12px 14px;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    background: #f7f7f7;
    font-size: 14px;
    transition: .2s;
    color: #333;
}

/* Efecto cuando se puede editar */
.formularitos input:focus {
    outline: none;
    border-color: #ff8b00;
    background: #fff;
}